# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
*.env
.env
.env.*

# Streamlit specific
.streamlit/

# Environment
venv/
.env/

# VSCode or IDE specific
.vscode/
.idea/

# OS-specific
.DS_Store
Thumbs.db
